:root {
  --grey-color: #626262;
  --accent-color: #03a9f3;
  --white-color: #fff;
  --active-color: #ff0000;
  --line-height: 1.7;
  --font-family: 'Playfair Display', serif;
}

body {
  background-color: #ffffff;
  color: var(--grey-color);
  font-family: var(--font-family);
}

/* NAVLINKS*/
.navlink {
  font-size: 14px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--grey-color);
}

.navlink:hover,
.navlink:focus {
  color: var(--accent-color);
}

.navlink:active {
  color: var(--active-color);
}

/*PARAGRAPH*/
.paragraph-style,
.paragraph-photodiary {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #b4ad9e;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.text {
  font-size: 14px;
  line-height: var(--line-height);
}

.button {
  font-size: 20px;
  line-height: 1.2;
  font-family: inherit;
  cursor: pointer;
}

.navlinks,
.links-section {
  list-style: none;
}
