:root {
  --grey-color: #626262;
  --accent-color: #03a9f3;
  --white-color: #fff;
  --active-color: #ff0000;
  --line-height: 1.7;
  --font-family: 'Playfair Display', serif;
}
body {
  background-color: #ffffff;
  color: var(--grey-color);
  font-family: var(--font-family);
}

/*HOVER FOCUS*/
.navlink-style:hover,
.navlink-style:focus {
  color: var(--grey-color);
}
.navlink-photodiary:hover,
.navlink-photodiary:focus {
  color: var(--accent-color);
}
.navlink-music:hover,
.navlink-music:focus {
  color: var(--accent-color);
}
.navlink-travel:hover,
.navlink-travel:focus {
  color: var(--accent-color);
}

/* NAVLINKS*/
.navlink-style {
  font-size: 14px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--accent-color);
}
.navlink-photodiary,
.navlink-music,
.navlink-travel {
  font-size: 14px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--grey-color);
}

/*ACTIVE*/
.navlink-style:active {
  color: var(--active-color);
}
.navlink-photodiary:active {
  color: var(--active-color);
}
.navlink-music:active {
  color: var(--active-color);
}
.navlink-travel:active {
  color: var(--active-color);
}

.paragraph-style,
.paragraph-photodiary {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #b4ad9e;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.text {
  font-size: 14px;
  line-height: var(--line-height);
}

.button {
  font-size: 20px;
  line-height: 1.2;
  font-family: inherit;
  cursor: pointer;
}

.links-header,
.links-section {
  list-style: none;
}
